doctype html
html
	head
		title 主控制模板
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")

		//- 框架样式引入
		//- bootstrap基础样式
		link(rel='stylesheet',type='text/css',href='/libs/bootstrap/dist/css/bootstrap.min.css')
		//- bootstrap扩展字体样式
		link(rel='stylesheet',type='text/css',href='/css/font-awesome.min.css')
		//- bootstrap时间插件样式
		link(rel='stylesheet',type='text/css',href='/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')

		//- 自设定样式的引入




		//- 框架js文件的引入
		//- jquery文件
		script(type='text/javascript',src='/libs/jquery/dist/jquery.min.js')
		//- jquery-ui文件
		script(type='text/javascript',src='/libs/jquery-ui/jquery-ui.min.js')
		//- bootstrap主js文件
		script(type='text/javascript',src='/libs/bootstrap/dist/js/bootstrap.min.js')



		//- 引入自设定的js文件

		
	body
		block content	